* {
    font-family: ui-sans-serif;
    box-sizing: border-box
}

.counter {
  border: 0;
  border-radius: 15%;
  padding: 0 .1rem 0 0;
  white-space: nowrap;

  .counter-input {
    border-radius: 10%;
    margin: 0 .1rem 0 0;
    padding: .25rem .5rem;
  }
}
